# Credit Card Fraud Detection - Logistic Regression

Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [8]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [13]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
225121,144115.0,2.260499,-0.672775,-1.730349,-1.186476,0.113699,-0.361084,-0.310538,-0.206716,-0.739631,...,0.013536,0.101338,0.052963,-1.133791,0.107662,-0.226698,-0.037289,-0.085215,4.45,0
108183,70800.0,-0.336279,0.237895,1.158456,-0.636549,-0.311637,-0.927103,0.216604,-0.403082,-0.869822,...,0.000923,0.143971,-0.129530,0.318251,-0.541146,-0.357414,-0.229982,-0.030124,24.20,0
38164,39275.0,0.682937,-1.238963,0.175810,0.173947,-1.216823,-0.830748,0.212475,-0.254708,-1.226619,...,-0.607266,-2.038630,0.159879,0.540260,-0.297752,-0.059129,-0.068444,0.079447,325.00,0
32756,36954.0,-1.941225,0.435545,0.997097,-2.045171,-0.395036,1.390221,-1.123411,1.476314,-1.129013,...,0.473747,1.128773,-0.147225,-1.502897,0.290684,-0.023788,-0.120322,-0.108677,7.80,0
81819,59104.0,-0.338955,1.037497,1.268783,0.074669,-0.089799,-1.020116,0.612253,0.005464,-0.185935,...,-0.280710,-0.801701,-0.002839,0.296801,-0.208066,0.076527,0.237328,0.095196,1.29,0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94869.241870,-0.014055,0.010790,-0.046410,0.072048,-0.130259,-0.094485,0.051473,-0.013839,-0.037094,...,0.035146,0.076748,0.022100,-0.017275,-0.015776,0.010089,-0.019518,-0.015508,-0.003220,104.854512
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Features & Targets

In [19]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [20]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
225121  144115.0  2.260499 -0.672775 -1.730349 -1.186476  0.113699 -0.361084
108183   70800.0 -0.336279  0.237895  1.158456 -0.636549 -0.311637 -0.927103
38164    39275.0  0.682937 -1.238963  0.175810  0.173947 -1.216823 -0.830748
32756    36954.0 -1.941225  0.435545  0.997097 -2.045171 -0.395036  1.390221
81819    59104.0 -0.338955  1.037497  1.268783  0.074669 -0.089799 -1.020116
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
225121 -0.310538 -0.206716 -0.739631  ...  0.001653  0.013536  0.101338
108183  0.216604 -0.403082 -0.869822  ...  0.158796  0.000923  0.143971
38164   0.212475 -0.254708 -1.226619  ...  0.099017 -0.607266 -2.038630
32756  -1.123411  1.476314 -1.129013  ... -0.241644  0.473747  1.128773
81819   0.612253  0.005464 -0.185935  ...  0.021266 -0.280710 -0.801701
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
225121  0.052963 -1.133791  0.107662 -0.226698 -0.037289 -0.085215    4.45
108183 -0.129530  0.318251 -0.541146 -0.357414 -0.229982 -0.030124   24.20
38164   0.159879  0.540260 -0.297752 -0.059129 -0.068444  0.079447  325.00
32756  -0.147225 -1.502897  0.290684 -0.023788 -0.120322 -0.108677    7.80
81819  -0.002839  0.296801 -0.208066  0.076527  0.237328  0.095196    1.29
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [21]:
print(Y)

225121    0
108183    0
38164     0
32756     0
81819     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing Data

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [24]:
model = LogisticRegression()

In [25]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [26]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.940279542566709

In [28]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9238578680203046

In [30]:
import joblib

# Save the trained model to a file
joblib.dump(model, 'model.pkl')
print("Model saved as model.pkl")

Model saved as model.pkl

In [31]:
pip install mlflow

Requirement already satisfied: mlflow in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (2.8.0)
Requirement already satisfied: click<9,>=7.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (8.2.1)
Requirement already satisfied: cloudpickle<3 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (2.2.1)
Requirement already satisfied: databricks-cli<1,>=0.8.7 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (0.18.0)
Requirement already satisfied: entrypoints<1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (0.4)
Requirement already satisfied: gitpython<4,>=2.1.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (3.1.44)
Requirement already satisfied: pyyaml<7,>=5.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (6.0.2)
Requirement already satisfied: protobuf<5,>=3.12.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (4.25.8)
Requirement already satisfied: pytz<2024 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (2023.4)
Requirement already satisfied: requests<3,>=2.17.3 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (2.32.3)
Collecting packaging<24 (from mlflow)
  Using cached packaging-23.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: importlib-metadata!=4.7.0,<7,>=3.7.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (6.11.0)
Requirement already satisfied: sqlparse<1,>=0.4.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (0.5.3)
Requirement already satisfied: alembic!=1.10.0,<2 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (1.16.1)
Requirement already satisfied: docker<7,>=4.0.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (6.1.3)
Requirement already satisfied: Flask<4 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (3.1.1)
Requirement already satisfied: numpy<2 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (1.24.3)
Requirement already satisfied: scipy<2 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (1.15.3)
Requirement already satisfied: pandas<3 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (2.0.3)
Requirement already satisfied: querystring-parser<2 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (1.2.4)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (2.0.41)
Requirement already satisfied: scikit-learn<2 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (1.3.0)
Requirement already satisfied: pyarrow<14,>=4.0.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (13.0.0)
Requirement already satisfied: markdown<4,>=3.3 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (3.8)
Requirement already satisfied: matplotlib<4 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (3.10.3)
Collecting psutil<6 (from mlflow)
  Using cached psutil-5.9.8-cp37-abi3-win_amd64.whl.metadata (22 kB)
Requirement already satisfied: waitress<3 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (2.1.2)
Requirement already satisfied: Jinja2<4,>=3.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from mlflow) (3.1.6)
Requirement already satisfied: Mako in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from alembic!=1.10.0,<2->mlflow) (1.3.10)
Requirement already satisfied: typing-extensions>=4.12 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from alembic!=1.10.0,<2->mlflow) (4.13.2)
Requirement already satisfied: colorama in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from click<9,>=7.0->mlflow) (0.4.6)
Requirement already satisfied: pyjwt>=1.7.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (2.10.1)
Requirement already satisfied: oauthlib>=3.1.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (3.2.2)
Requirement already satisfied: tabulate>=0.7.7 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.9.0)
Requirement already satisfied: six>=1.10.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.17.0)
Requirement already satisfied: urllib3<3,>=1.26.7 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (2.4.0)
Requirement already satisfied: websocket-client>=0.32.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from docker<7,>=4.0.0->mlflow) (1.8.0)
Requirement already satisfied: pywin32>=304 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from docker<7,>=4.0.0->mlflow) (310)
Requirement already satisfied: blinker>=1.9.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from Flask<4->mlflow) (1.9.0)
Requirement already satisfied: itsdangerous>=2.2.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from Flask<4->mlflow) (2.2.0)
Requirement already satisfied: markupsafe>=2.1.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from Flask<4->mlflow) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from Flask<4->mlflow) (3.1.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from gitpython<4,>=2.1.0->mlflow) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow) (5.0.2)
Requirement already satisfied: zipp>=0.5 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from importlib-metadata!=4.7.0,<7,>=3.7.0->mlflow) (3.22.0)
Requirement already satisfied: contourpy>=1.0.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from matplotlib<4->mlflow) (1.3.2)
Requirement already satisfied: cycler>=0.10 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from matplotlib<4->mlflow) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from matplotlib<4->mlflow) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from matplotlib<4->mlflow) (1.4.8)
Requirement already satisfied: pillow>=8 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from matplotlib<4->mlflow) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from matplotlib<4->mlflow) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from matplotlib<4->mlflow) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from pandas<3->mlflow) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from requests<3,>=2.17.3->mlflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from requests<3,>=2.17.3->mlflow) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2025.4.26)
Requirement already satisfied: joblib>=1.1.1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from scikit-learn<2->mlflow) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from scikit-learn<2->mlflow) (3.6.0)
Requirement already satisfied: greenlet>=1 in f:\bds-6a\bds-7a\big data analytics\solvedassignment\assignmnet#04\venv\lib\site-packages (from sqlalchemy<3,>=1.4.0->mlflow) (3.2.2)
Using cached packaging-23.2-py3-none-any.whl (53 kB)
Using cached psutil-5.9.8-cp37-abi3-win_amd64.whl (255 kB)
Installing collected packages: psutil, packaging

  Attempting uninstall: psutil

    Found existing installation: psutil 7.0.0

    Uninstalling psutil-7.0.0:

      Successfully uninstalled psutil-7.0.0

   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
   ---------------------------------------- 0/2 [psutil]
  Attempting uninstall: packaging
   ---------------------------------------- 0/2 [psutil]
    Found existing installation: packaging 24.2
   ---------------------------------------- 0/2 [psutil]
    Uninstalling packaging-24.2:
   ---------------------------------------- 0/2 [psutil]
      Successfully uninstalled packaging-24.2
   ---------------------------------------- 0/2 [psutil]
   -------------------- ------------------- 1/2 [packaging]
   -------------------- ------------------- 1/2 [packaging]
   ---------------------------------------- 2/2 [packaging]

Successfully installed packaging-23.2 psutil-5.9.8
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'F:\BDS-6A\BDS-7A\Big Data Analytics\SolvedAssignment\Assignmnet#04\venv\Lib\site-packages\~sutil'.
  You can safely remove it manually.

In [36]:
import mlflow
mlflow.set_tracking_uri("http://localhost:5000") # Tells notebook to send data to your running server

In [37]:
import mlflow
import mlflow.sklearn

# Set the experiment name
mlflow.set_experiment("CreditCardFraudDetection")

with mlflow.start_run():
    mlflow.log_param("model_type", "LogisticRegression")
    mlflow.log_metric("train_accuracy", training_data_accuracy)
    mlflow.log_metric("test_accuracy", test_data_accuracy)
    mlflow.sklearn.log_model(model, "model")
    print("Model and metrics logged to MLflow.")

2025/05/31 16:11:38 INFO mlflow.tracking.fluent: Experiment with name 'CreditCardFraudDetection' does not exist. Creating a new experiment.
f:\BDS-6A\BDS-7A\Big Data Analytics\SolvedAssignment\Assignmnet#04\venv\Lib\site-packages\_distutils_hack\__init__.py:15: UserWarning: Distutils was imported before Setuptools, but importing Setuptools also replaces the `distutils` module in `sys.modules`. This may lead to undesirable behaviors or errors. To avoid these issues, avoid using distutils directly, ensure that setuptools is installed in the traditional way (e.g. not an editable install), and/or make sure that setuptools is always imported before distutils.
  warnings.warn(
f:\BDS-6A\BDS-7A\Big Data Analytics\SolvedAssignment\Assignmnet#04\venv\Lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils. Support for replacing an already imported distutils is deprecated. In the future, this condition will fail. Register concerns at https://github.com/pypa/setuptools/issues/new?template=distutils-deprecation.yml
  warnings.warn(

Model and metrics logged to MLflow.

In [38]:
experiment_name = "CreditCardFraudDetection" # Or your preferred name
mlflow.set_experiment(experiment_name)

<Experiment: artifact_location=('file:///F:/BDS-6A/BDS-7A/Big Data '
 'Analytics/SolvedAssignment/Assignmnet/1#04/mlruns'), creation_time=1748733098922, experiment_id='1', last_update_time=1748733098922, lifecycle_stage='active', name='CreditCardFraudDetection', tags={}>

In [40]:
        import mlflow
        import mlflow.sklearn
        from sklearn.linear_model import LogisticRegression # Or your actual model
        from sklearn.model_selection import train_test_split
        from sklearn.metrics import accuracy_score, precision_score, recall_score # Add others you need
        import pandas as pd
        import numpy as np
        import joblib # For saving the model locally as model.pkl too

        # --- Configure MLflow ---
        mlflow.set_tracking_uri("http://localhost:5000")
        experiment_name = "CreditCardFraudDetection_LogisticReg" # Be specific if you try multiple models
        mlflow.set_experiment(experiment_name)

        # --- Load and Prepare Your Data ---
        credit_card_data = pd.read_csv('creditcard.csv')
        # ... (your data preprocessing, splitting into X, Y, legit, fraud, new_dataset) ...
        X = new_dataset.drop(columns='Class', axis=1)
        Y = new_dataset['Class']
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

        # --- Start an MLflow Run ---
        with mlflow.start_run(run_name="LR_Baseline_Run"): # Give a descriptive name to the run
            print(f"Starting run: {mlflow.active_run().info.run_name}")

            # --- Train Your Model ---
            # Example: model = LogisticRegression(solver='liblinear', C=1.0, random_state=42)
            model = LogisticRegression() # Use your actual model instantiation
            model.fit(X_train, Y_train)

            # --- Make Predictions (example) ---
            Y_pred_train = model.predict(X_train)
            Y_pred_test = model.predict(X_test)

            # --- Calculate Metrics (replace with your actual metrics) ---
            training_data_accuracy = accuracy_score(Y_train, Y_pred_train)
            test_data_accuracy = accuracy_score(Y_test, Y_pred_test)
            test_precision = precision_score(Y_test, Y_pred_test)
            test_recall = recall_score(Y_test, Y_pred_test)
            # ... add other metrics

            # --- Log Parameters ---
            mlflow.log_param("model_type", model.__class__.__name__)
            # Log actual parameters used for the model
            # For LogisticRegression, common ones:
            mlflow.log_param("solver", model.get_params().get("solver", "default"))
            mlflow.log_param("C", model.get_params().get("C", "default"))
            mlflow.log_param("penalty", model.get_params().get("penalty", "default"))
            mlflow.log_param("random_state", model.get_params().get("random_state", "default"))
            # Add any other parameters you are tuning or are important

            # --- Log Metrics ---
            mlflow.log_metric("train_accuracy", training_data_accuracy)
            mlflow.log_metric("test_accuracy", test_data_accuracy)
            mlflow.log_metric("test_precision", test_precision)
            mlflow.log_metric("test_recall", test_recall)
            # ... log other relevant metrics (F1, ROC AUC etc.) for test and optionally train

            # --- Log Tags ---
            mlflow.set_tag("data_source", "creditcard.csv")
            mlflow.set_tag("sampling_strategy", "undersampling_legit_to_fraud_count") # Or describe your strategy
            mlflow.set_tag("description", "Initial baseline run with Logistic Regression.")
            mlflow.set_tag("developer", "YourName")


            # --- Log Model with MLflow ---
            # This logs the model to MLflow's artifact store (./mlruns directory by default)
            # The "model" argument is the artifact path within this specific run.
            mlflow.sklearn.log_model(
                sk_model=model,
                artifact_path="fraud_detection_model", # Changed for clarity
                # You can also add registered_model_name to register it directly
                # registered_model_name="CreditCardFraudDetector"
            )
            print(f"Model logged to MLflow artifact path: fraud_detection_model")

            # --- Save the model ALSO as model.pkl for your FastAPI app ---
            # This is separate from MLflow logging but required by your current backend setup
            # Ensure the 'ml' directory exists relative to your notebook's location
            # If your notebook is in 'ml/', then 'model.pkl' is fine.
            # If notebook is in root, use 'ml/model.pkl'.
            # Assuming notebook is in 'ml/' directory:
            joblib.dump(model, 'model.pkl')
            print(f"Model also saved locally to ml/model.pkl for the backend app.")

            run_id = mlflow.active_run().info.run_id
            print(f"MLflow Run ID: {run_id}")

        print("MLflow run completed.")

Starting run: LR_Baseline_Run

f:\BDS-6A\BDS-7A\Big Data Analytics\SolvedAssignment\Assignmnet#04\venv\Lib\site-packages\_distutils_hack\__init__.py:15: UserWarning: Distutils was imported before Setuptools, but importing Setuptools also replaces the `distutils` module in `sys.modules`. This may lead to undesirable behaviors or errors. To avoid these issues, avoid using distutils directly, ensure that setuptools is installed in the traditional way (e.g. not an editable install), and/or make sure that setuptools is always imported before distutils.
  warnings.warn(
f:\BDS-6A\BDS-7A\Big Data Analytics\SolvedAssignment\Assignmnet#04\venv\Lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils. Support for replacing an already imported distutils is deprecated. In the future, this condition will fail. Register concerns at https://github.com/pypa/setuptools/issues/new?template=distutils-deprecation.yml
  warnings.warn(

Model logged to MLflow artifact path: fraud_detection_model
Model also saved locally to ml/model.pkl for the backend app.
MLflow Run ID: f71defa1f5984c55ba76831742b08701
MLflow run completed.